/* header */
.header-btn-red {
   color: #e03e3e;font-weight:bold;border: 1px solid #e03e3e;    border-radius: 7px;

}
.header-btn-green {
    color: white;
    font-weight: bold;
    border-radius: 7px;
    background-color: #85b510;

 }
 .header-btn-search {
    background-color: #8390a0;
    color: white;
    border-radius: 8px;
 
 }
 .header-txt{
    color: darkblue;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0px;
    line-height: 33px;

 }
header .main-text{
    background-color: darkblue;
    padding: 6px;
}
@media only screen and (min-width: 600px) {
    .remove-padding{
        padding: 0px !important;
    }
 
}
.total_show{
    text-align: right
}
.remove-padding{
    padding: auto;
}
.remove-space{
    margin-left:5%;
    margin-right:5%
}
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color:white;
    padding: 20px 10px;
  }
  .lbl-career{
    border-bottom: 2px solid blue;
    text-align: center;
    margin-bottom: 4px;
  }
  /* Style the header links */
  .header a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .footer-logo
  {
    margin-top: 11px;
    margin-left: -22%;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    float: right
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color:white;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
header .inner-main-text{
    color: white;
    font-size: 20px;
    padding-top: 7px;
}
header .inner-sub-text{
    color: white;
    margin-top: 10px;
}
/* End Header */
hr {
    border: 0.5px solid darkblue;
}

.thick-border {
    border: 1px solid darkblue;
}

h4 {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

h5 {
    color: darkblue;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.removeborder th, #removeborder td {
    color: darkblue;
    border: none;
    font-size: 10px !important;
}

#invoice th, #invoice td {
    color: darkblue;
    border: none;
    font-size: 14px;
}

.btns_btns {
    height: 25%;
    width: 45%;
    padding: 5px;
}

footer {
    background-color: darkblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px;
}
.menu-seperator{
    color: darkblue;
    padding: 2px;
    font-size: 11px;
    font-weight: bold;
}

.footer-txt-menu{
    color: darkblue;
    font-size: 11px;
    font-weight: bold;
    margin-top: 12px;

}
    footer hr {
        border: 0.5px solid white;
    }

.newsletter-form {
    padding-top: 15%;
}

    .newsletter-form p {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        border: 0.5px solid;
        padding: 10px;
    }

    .newsletter-form input[type=text] {
        padding: 6px;
        font-size: 14px;
        color: black;
    }

    .newsletter-form button {
        color: darkblue;
        padding: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }

.pricing {
    margin: 20px,0px;
}

.fa {
    padding: 10px;
    font-size: 22px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 25px 2px;
}

    .fa:hover {
        opacity: 0.9;
    }

.fa-facebook {
    background: lightgray;
    color: darkblue;
}

.fa-linkedin {
    background: lightgray;
    color: darkblue;
}
