/*************** My Custom CSS ****************/

.wp-pagenavi .pagination {
    background: transparent;
}

ul.pagination .active a {
    background: rgba(0,0,0,.05);
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
    display: inline-block;
    border: solid 2px #eee;
    border-color: rgba(0,0,0,.05);
    color: #282973;
    border-radius: 0px !important;
}

ul.pagination a {
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    margin: 5px;
    display: inline-block;
    border: solid 2px #eee;
    border-color: rgba(0,0,0,.05);
    color: #282973;
    border-radius: 0px !important;
}

ul.pagination a:hover {
    border-color: #2d5c88;
    background: rgba(0,0,0,.05);
    border-radius: 0px !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0px important;
}

.space {
    padding-bottom: 20px;
}

div.content-padding:has(#slider-img) {
    background-image: url(http://kcelectricalsupply.com/wp-content/uploads/2016/01/kcSkylineHighway_13709883-blur_72dpi.jpg);
}

.iframe-btn {
    display: none !important;
}

.titleimg {
    margin-top: 17% !important;
    margin-bottom: 3% !important;
}

.blueheader {
    color: #282973 !important;
    font-size: 16px !important;
    display: block !important;
    margin: 0px 0px 12px !important;
    line-height: 25px !important;
    font-weight: 500 !important;
    font-family: 'Yantramanav', sans-serif!important;
}

.lightblueheader {
    color: #0075c9 !important;
    font-size: 16px !important;
    display: block !important;
    margin: 0px 0px 12px !important;
    line-height: 25px !important;
    font-weight: 500 !important;
    font-family: 'Yantramanav', sans-serif!important;
    padding-top: 10px;
    padding-bottom: 15px;
}

.mtop {
    padding-top: 30px !important;
}

.blackheader {
    line-height: 40px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 38px !important;
    padding-top: 7%;
    padding-bottom: 1%;
}

.center {
    text-align: center !important;
    margin: auto;
}

.tr-img {
    padding-top: 4%;
    padding-bottom: 10%;
}

.brd {
    border-top: 1px solid #999;
    padding-top: 1%;
}

.team-img {
    border: 2px solid #282973;
}

.blackimg {
    width: 546px;
    height: 345px;
}

.blueback {
    display: block;
    max-width: 234px;
    text-align: center;
    width: 100%;
    margin: 10px 0px 0px;
    line-height: 25px;
    padding: 10px 15px;
    background-color: #282973;
    color: #fff;
    font-size: 20px!important;
    font-weight: 500!important;
}

.bluebdr {
    border: 2px solid #0074C8 !important;
}

.lblue-back {
    text-align: left;
    background-color: #0074C8;
    color: #fff;
    padding: 10px;
    line-height: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0px 10px;
    font-family: 'Yantramanav', sans-serif!important;
    height: 70px;
}

.blueback2 {
    margin-top: 2px !important;
    height: 66px !important;
    margin-bottom: 20px;
}

.careerblue {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 10px 0px 0px;
    line-height: 25px;
    padding: 10px 15px;
    background-color: #282973;
    color: #fff;
    font-size: 20px!important;
    font-weight: 500!important;
}

.pro-div {
    width: 289px;
    border: 2px solid #282973;
}

.left {
    float: left;
}

/**********************************************/




/* Primary color */
.home-message:hover {background-color:#2d5c88; background-color: rgba(45, 92, 136, 0.6);}
nav.woocommerce-pagination ul li a:hover, .wp-pagenavi a:hover, .panel-heading .accordion-toggle, .variations .kad_radio_variations label:hover, .variations .kad_radio_variations label.selectedValue {border-color: #2d5c88;}
a, #nav-main ul.sf-menu ul li a:hover, .product_price ins .amount, .price ins .amount, .color_primary, .primary-color, #logo a.brand, #nav-main ul.sf-menu a:hover,
.woocommerce-message:before, .woocommerce-info:before, #nav-second ul.sf-menu a:hover, .footerclass a:hover, .posttags a:hover, .subhead a:hover, .nav-trigger-case:hover .kad-menu-name, 
  .nav-trigger-case:hover .kad-navbtn, #kadbreadcrumbs a:hover, #wp-calendar a, .testimonialbox .kadtestimoniallink:hover {color: #282973;}
.widget_price_filter .ui-slider .ui-slider-handle, .kad-btn-primary, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:hover, html .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a,
.product-category.grid_item a:hover h5, .woocommerce-message .button, .widget_layered_nav_filters ul li a, .widget_layered_nav ul li.chosen a, .wpcf7 input.wpcf7-submit, .yith-wcan .yith-wcan-reset-navigation,
#containerfooter .menu li a:hover, .bg_primary, .portfolionav a:hover, .home-iconmenu a:hover, .home-iconmenu .home-icon-item:hover, p.demo_store, #commentform .form-submit #submit, .kad-hover-bg-primary:hover, .widget_shopping_cart_content .checkout,
.login .form-row .button, .post-password-form input[type="submit"], .kad-post-navigation .kad-previous-link a:hover, .kad-post-navigation .kad-next-link a:hover, .select2-results .select2-highlighted, .variations .kad_radio_variations label.selectedValue, #payment #place_order, .shop_table .actions input[type=submit].checkout-button, input[type="submit"].button, .order-actions .button, .productnav a:hover  {background: #2d5c88;}

/* 20% lighter than Primary */
a:hover {color: #6c8dab;}
.kad-btn-primary:hover, .login .form-row .button:hover, #payment #place_order:hover, .yith-wcan .yith-wcan-reset-navigation:hover, .widget_shopping_cart_content .checkout:hover,
.woocommerce-message .button:hover, #commentform .form-submit #submit:hover, .wpcf7 input.wpcf7-submit:hover, .widget_layered_nav_filters ul li a:hover, 
.widget_layered_nav ul li.chosen a:hover, .shop_table .actions input[type=submit].checkout-button:hover, .order-actions .button:hover, input[type="submit"].button:hover, .post-password-form input[type="submit"]:hover {background: #6c8dab;}

.product_item.hidetheaction .kad_add_to_cart {background: transparent; color: #4280A2; font-size:14px; padding:0px; display:inline-block; text-transform:capitalize;}
.product_item.hidetheaction:hover .kad_add_to_cart {color: #9d9fa1;}

/* Background Skins */
.contentclass, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {background: #fff;}
.mobileclass {background: #f2f2f2; background: rgba(0,0,0,0.00);}
.headerclass {background: #fff;}
.footerclass {background: #f2f2f2;}
.navclass {background: #fff;}
.bg-lightgray {background: #f2f2f2; background:rgba(0, 0, 0, 0.05); }
/* Header - Type */
h1, h2, h3 {color:#333;}
h4 {color: #444;}
h5 {color: #555;}

.sf-menu a {letter-spacing: normal;}
#nav-second ul.sf-menu a {letter-spacing: normal;}

.color_gray, #kadbreadcrumbs a, .subhead, .subhead a, .posttags, .posttags a, .product_meta a {color: #777;}

body, .color_body, .sidebar a, .author-name a, .author-latestposts h5 a, .author-latestposts h5, 
.author-profile .author-occupation, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus, .product_price, .product_details > .product_excerpt {color:#444;}

/* General */
a:hover {text-decoration: none;}
h3.hometitle {text-align: center; display:none !important;}

/* Footer */
#containerfooter h3, #containerfooter {color:#fff;}
.footercredits p {color: #fff;}
.footerclass a, .footerclass a:hover {color: #fff;}
.footernav ul li a {color:#282973;}
/* Custom */
.sidebar a {
	color:#555;
}
#containerfooter .foot-address h3 {
	font-size:20px;
	line-height:20px;
	margin-top:0px;
	margin-bottom:5px;
}
#containerfooter .foot-address .footer-widget {
	display:inline-block;
	width:33%;
	font-size:16px;
}
#containerfooter .foot-address .footercol2 {
	border-bottom:2px solid #fff;
	padding-bottom:20px;
	margin-bottom:20px;
}
#containerfooter .foot-address p {
	margin:0px;
	color:#fff;
	line-height:20px;
}
#containerfooter .widget, #containerfooter .widget-first {
	margin-top:0px;
}
#containerfooter .foot-newsletter .footer-widget + .footer-widget {
	margin-top:26px;
}
#newsletterwidget-2 {
	padding-top:30px;
}
#newsletterwidget-2 h3 {
	margin:0px;
	font-size:16px;
	border:1px solid #fff;
	padding:0px 10px;
}
#newsletterwidget-2 form {
	position:relative;
}
#newsletterwidget-2 form .newsletter-email {
	display:block;
	border:none;
	width:100%;
	height:37px;
	padding:0px 50px 0px 10px;
}
#newsletterwidget-2 form input[type="submit"], #newsletterwidget-2 form button {
	position:absolute;
	right:0px;
	top:0px;
	border:none;
	background-color:#E6E7E8;
	font-size:12px;
	color:#282973;
	height:37px;
	padding:5px 6px;
	width:50px;
	line-height:14px;
	text-transform:uppercase;
}
.navigation li a,.navigation li a:hover,.navigation li.active a,.navigation li.disabled {
color: #fff;
text-decoration:none;
}
.navigation li {
display: inline;
color:#fff;
	font-size: 18px;
font-family: 'Yantramanav', sans-serif !important;
}
.navigation li a,.navigation li a:hover,.navigation li.active a,.navigation li.disabled {
cursor: pointer;
padding: 5px;
}
.navigation li a:hover,.navigation li.active a {
border-bottom:2px solid #fff;
border-top:2px solid #fff;
	}
.page-id-71 .sidebar{
	display:none;
	}
.page-id-482 .sidebar{
	display:none;
	}
